/* Estilos generales */
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif; /* Cambié a una fuente más moderna */
}

li {
	display: inline-block;
}

/* Estilo del body */
body {
	background-image: url('../images/aguila.jpg'); /* Manteniendo la imagen de fondo del águila */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
	text-align: center;
	color: #f0f0f0; /* Texto en blanco suave */
}

/* Estilo del nav */
nav {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(36, 36, 36, 0.9); /* Fondo del nav ligeramente transparente para ver la imagen */
	font-size: 1.25rem;
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Línea sutil para separación */
}

/* Ajuste para centrar los elementos del menú */
.menu-horizontal {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	flex-grow: 1;
	margin-right: auto;
}

.menu-horizontal > li > a {
	display: block;
	padding: 1rem 1.5rem;
	color: #f0f0f0;
	text-decoration: none;
	transition: background-color 0.3s ease, color 0.3s ease;
	border-radius: 5px;
}

.menu-horizontal > li:hover,
.menu-horizontal > li > a:focus {
	background-color: #444444;
	color: #4a90e2; /* Azul eléctrico en hover */
}

/* Ajustes para la imagen del login */
.login-icon {
	margin-right: 20px;
}

.login-icon img {
	width: 40px;
	height: auto;
	cursor: pointer;
}

/* Logo */
.logo {
	color: #e57373; /* Color rojo suave */
	text-align: left;
	width: auto;
	font-size: 1.5rem;
	padding-left: 20px;
}

/* Estilo de submenús verticales */
.menu-vertical {
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(28, 28, 28, 0.9); /* Fondo ligeramente transparente */
}

.menu-horizontal li:hover .menu-vertical {
	display: block;
}

.menu-vertical li:hover,
.menu-vertical li > a:focus {
	background-color: #333333;
}

.menu-vertical li a {
	display: block;
	color: #f0f0f0;
	text-decoration: none;
	padding: 1rem;
	transition: background-color 0.3s ease, color 0.3s ease;
}

/* Sección principal centrada */
section {
	max-width: 800px;
	margin: 20px auto;
	background-color: rgba(28, 28, 28, 0.95); /* Fondo oscuro con transparencia */
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra fuerte */
	text-align: center;
	color: #f0f0f0;
}

/* Estilo del footer */
footer {
	width: 100%;
	background-color: rgba(36, 36, 36, 0.9); /* Fondo oscuro ligeramente transparente */
	color: #f0f0f0;
	text-align: center;
	padding: 10px 0;
	position: fixed;
	bottom: 0;
	left: 0;
	border-top: 1px solid rgba(255, 255, 255, 0.1); /* Línea superior sutil */
}
