* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif; /* Cambié a una fuente más moderna */
}
/* Estilo del body */
body {
	background-image: url('../images/aguila.jpg'); /* Manteniendo la imagen de fondo del águila */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
	color: #cc7409; /* Texto en blanco suave */
	/* titulo */
	/* Sección principal centrada */
section {
	max-width: 800px;
	margin: 20px auto;
	background-color: rgba(28, 28, 28, 0.95); /* Fondo oscuro con transparencia */
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra fuerte */
	text-align: center;
	color: #f0f0f0;
}
}